.statistics {
  padding-top: 28px;
  padding-bottom: 35px;
  background-color: $white;

  &__list {
    width: 100%;
    @include list-reset;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: minmax(85px, auto);
    grid-gap: 5px;
    justify-content: center;

    @include tablet-small {
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    }
  }

  &__item {
    position: relative;
    padding-top: 13px;
    padding-right: 16px;
    padding-bottom: 20px;
    padding-left: 25px;
    background-color: $purple;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      top: 20px;
      right: 15px;
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;
      transition: all 0.2s ease-in-out;
    }

    &:hover::before {
      transition: all 0.2s ease-in-out;
      transform: scale(1.2);
    }

    &:hover {
      .statistics__descr {
        color: $gold;
        transition: all 0.2s ease-in-out;
      }

      .statistics__counter {
        color: $gold;
        transition: all 0.2s ease-in-out;
      }
    }

    &--burger {
      &::before {
        background-image: url("../../../img/icon-burger.svg");
      }
    }

    &--question {
      &::before {
        background-image: url("../../../img/icon-question.svg");
      }
    }

    &--refresh {
      &::before {
        width: 38px;
        height: 38px;
        top: 16px;
        right: 17px;
        background-image: url("../../../img/icon-refresh.svg");
      }
    }

    &--star {
      &::before {
        top: 18px;
        right: 22px;
        width: 38px;
        height: 38px;
        background-image: url("../../../img/icon-star-big.svg");
      }
    }
  }

  &__content {
    padding-right: 40px;
    box-sizing: border-box;

    @include mobile {
      padding-right: 20px;
    }
  }

  &__counter {
    @include font-medium;
    margin: 0;
    color: $white;
    transition: all 0.2s ease-in-out;
  }

  &__descr {
    @include font-xs;
    color: $white;
    margin: 0;
    transition: all 0.2s ease-in-out;
  }
}
