//- +svg( "arrow", 24, 36 )
mixin svg( name, width, height )
  svg( width=("" + width) height=("" + height) aria-hidden="true" )
    use( xlink:href=("img/sprite.svg#" + name) )

//- Пример для вставки свг инлайном - только в случаях,
//- когда нельзя спрайтом или картинкой
mixin svg-menu
  svg( width="91" height="69" viewBox="-2 -2 91 69" aria-hidden="true" )
    g
      path( d="M46.7295 58.8025C69.5563 55.9997 81.5115 42.5782 79.7279 28.0518C77.9443 13.5253 62.442 3.47519 40.2704 6.19752C18.0988 8.91985 5.48839 22.4218 7.27202 36.9482C9.05564 51.4747 23.9027 61.6052 46.7295 58.8025Z" stroke-width="2" vector-effect="non-scaling-stroke" )
    g
      path( d="M45.1863 21.6213C46.3579 20.4497 46.3579 18.5503 45.1863 17.3787C44.0148 16.2071 42.1153 16.2071 40.9437 17.3787C39.7721 18.5503 39.7721 20.4497 40.9437 21.6213C42.1153 22.7929 44.0148 22.7929 45.1863 21.6213Z" )
      path( d="M45.1863 34.6213C46.3579 33.4497 46.3579 31.5503 45.1863 30.3787C44.0148 29.2071 42.1153 29.2071 40.9437 30.3787C39.7721 31.5503 39.7721 33.4497 40.9437 34.6213C42.1153 35.7929 44.0148 35.7929 45.1863 34.6213Z" )
      path( d="M58.1863 34.6213C59.3579 33.4497 59.3579 31.5503 58.1863 30.3787C57.0148 29.2071 55.1153 29.2071 53.9437 30.3787C52.7721 31.5503 52.7721 33.4497 53.9437 34.6213C55.1153 35.7929 57.0148 35.7929 58.1863 34.6213Z" )
      path( d="M32.1863 34.6213C33.3579 33.4497 33.3579 31.5503 32.1863 30.3787C31.0148 29.2071 29.1153 29.2071 27.9437 30.3787C26.7721 31.5503 26.7721 33.4497 27.9437 34.6213C29.1153 35.7929 31.0148 35.7929 32.1863 34.6213Z" )
      path( d="M45.1863 47.6213C46.3579 46.4497 46.3579 44.5503 45.1863 43.3787C44.0148 42.2071 42.1153 42.2071 40.9437 43.3787C39.7721 44.5503 39.7721 46.4497 40.9437 47.6213C42.1153 48.7929 44.0148 48.7929 45.1863 47.6213Z" )
