include pug/layout

  block content
    section.gallery
      h2.gallery__title.visually-hidden Галлерея
      .container
          .gallery__banner-wrapper
            img.gallery__banner(src="img/banner.jpg" width="2560" height="1440" alt="Баннер")

          ul.gallery__list

            li.gallery__item
              a.gallery__link(href="#" title="Ссылка")
                .gallery__img-wrapper
                  img.gallery__img(src="img/small-img-1.jpg" width="768" height="1280" alt="Первая картинка")
                .gallery__content
                  h3.gallery__caption Большой заголовок статьи, очень длинный и явно не короткий
                  span.gallery__date 16:22, 01 мая 2019г
            li.gallery__item
              a.gallery__link(href="#" title="Ссылка")
                .gallery__img-wrapper
                  img.gallery__img(src="img/small-img-2.jpg" width="768" height="1280" alt="Вторая картинка")
                .gallery__content
                  h3.gallery__caption Большой заголовок статьи, очень длинный и явно не короткий
                  span.gallery__date 16:22, 01 мая 2019г
            li.gallery__item
              a.gallery__link(href="#" title="Ссылка")
                .gallery__img-wrapper
                  img.gallery__img(src="img/small-img-3.jpg" width="768" height="1280" alt="Третья картинка")
                .gallery__content
                  h3.gallery__caption Большой заголовок статьи, очень длинный и явно не короткий
                  span.gallery__date 16:22, 01 мая 2019г
            li.gallery__item
              a.gallery__link(href="#" title="Ссылка")
                .gallery__img-wrapper
                  img.gallery__img(src="img/small-img-4.jpg" width="768" height="1280" alt="Четвёртая картинка")
                .gallery__content
                  h3.gallery__caption Большой заголовок статьи, очень длинный и явно не короткий
                  span.gallery__date 16:22, 01 мая 2019г
            li.gallery__item
              a.gallery__link(href="#" title="Ссылка")
                .gallery__img-wrapper
                  img.gallery__img(src="img/small-img-5.jpg" width="768" height="1280" alt="Пятая картинка")
                .gallery__content
                  h3.gallery__caption Большой заголовок статьи, очень длинный и явно не короткий
                  span.gallery__date 16:22, 01 мая 2019г
            li.gallery__item
              a.gallery__link(href="#" title="Ссылка")
                .gallery__img-wrapper
                  img.gallery__img(src="img/small-img-6.jpg" width="768" height="1280" alt="Шестая картинка")
                .gallery__content
                  h3.gallery__caption Большой заголовок статьи, очень длинный и явно не короткий
                  span.gallery__date 16:22, 01 мая 2019г
