$width-desktop:   1440px;
$width-laptop:    1200px;
$width-tablet-lg: 1024px;
$width-tablet:     768px;
$width-mobile:     375px;
$width-min:        320px;

$width-tablet-media: 1000px;

$height-desktop:   800px;
$height-tablet:    768px;

$retina-dpi:      144dpi;
$retina-dppx:    1.5dppx;

$font-family: "Rkm", "Arial", sans-serif;
$font-main: 16px;

$black:           #000000;
$white:           #ffffff;
$transparent: transparent;






